.applicant {
  background-color: #232d3f;
  margin: 10px;
  width: 350px;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.applicant div {
  margin-top: 5px;
}

.connect {
  display: flex;
  align-items: center;
}

strong {
  margin-right: 15px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.applicant h2,
p {
  text-align: center;
  margin: 0;
}

.applicant p {
  font-size: 12px;
}

.icon {
  margin-left: 8px;
}
/* #232D3F */

a {
  color: #fff;
}

.delete-modal-btns {
  display: flex;
  justify-content: space-evenly;
}

.box-area {
  display: flex;
  justify-content: center;
}

.box-area div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #0a2647;
  border-radius: 20px;
  margin: 20px 15px;
  position: relative;
}
